@charset "utf-8";
/* CSS Document */

/***********登录  页面***********/
.sign-logo{ width:1172px;padding:32px 0 38px 28px;}
.sign-con{ height:390px;}
.sign-con .sign-contu{ margin:37px 149px 48px 116px;}
.sign-con .sign-ipt{width:325px;height:300px;border:1px solid #CBCBCB;margin-top:12px;padding:40px 0 0 45px;}
.sign-con .sign-ipt p{ width:280px; font-size:15px; color:#272727; margin:8px 0 5px;}
.sign-con .sign-ipt p a{ color:#F19F0B;}
.sign-con .sign-ipt p a:hover{text-decoration:underline;}
.sign-con .sign-ipt p .wj{float:right;}
.sign-con .sign-ipt input{ width:270px; height:36px; border:1px solid #ccc; padding:0 5px; color:#A1A0A0; font-size:13px;}
.sign-con .sign-ipt .slig-btn{ width:280px; height:36px; background:#F09E0B; border:none; font-size:16px; color:#fff; cursor:pointer; margin-top:20px;text-align: center}
.sign-con .sign-ipt .sign-qx{ width:280px; margin-top:15px;}
.sign-con .sign-ipt .sign-qx .qq{ margin-right:10px;}
